* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #dfe9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.wrapper {
    width: 90%; 
    max-width: 400px; 
    padding: 1.5rem; 
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input {
    width: 100%; 
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    cursor: pointer;
    background: rgba(17, 107, 143);
}
button:hover {
    background: rgba(17, 107, 143, 0.877);
}
input:focus {
    border: 1px solid rgba(192, 192, 192);
}
.terms {
    margin-top: 0.5rem;
}
.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label {
    font-size: 0.8rem;
}
.terms a {
    color: rgba(17, 107, 143);
    text-decoration: none;
}
.member {
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #636363;
}
.member a {
    color: rgba(17, 107, 143);
    text-decoration: none;
}
.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 0;
}
.recover a {
    text-decoration: none;
    color: #464647;
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; 
    }

    .wrapper {
        padding: 1rem; 
    }

    form input {
        padding: 10px 15px; 
    }

    button {
        font-size: 0.9rem; 
    }

    .terms label {
        font-size: 0.7rem;
    }

    .member, .recover {
        font-size: 0.7rem;
    }
}
